.main {
    background-color: rgb(38, 38, 38);
    padding: 2%;
    border-radius: 10%;
    height: fit-content;
}

.link {
    text-decoration: none;
}

#more {
    padding-bottom: 2%;
}

#more:hover {
    transform: translate(5px, -5px);
    transition-duration: 2s;
}