.main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10%;
    width: 100%;
}

.root {
    text-align: center;
}


h1,
p,
label {
    color: whitesmoke;
}

.recommendations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {

    .main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .displayGroup {
        margin-bottom: 400px;
    }
}