.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cluster {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dataField {
    padding: 2%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 8px 10px #232222;
    background: rgba(25, 20, 20, 0.82);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
}

.box {
    padding: 2%;
    margin: 2%;
    margin-top: 0%;
}

.blob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/blob.svg");

}

.blob h4 {
    margin: 65px;
    margin-left: 50px;
}

.box img {
    position: relative;
    top: 80px;
    margin-right: auto;
    z-index: 200;
}