#root {
    width: 70vh;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 10px #232222;
    background: rgba(237, 237, 237, 0.82);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    margin-top: 10%;
    position: fixed;
    transform: translateX(-200vh);
    z-index: 10000;
    transition-duration: 1.5s;
}

#root h2,
p,
label {
    color: black;
}

@keyframes flyIn {

    50% {
        transform: translateX(0vh);
    }

    100% {
        transform: translateX(0vh);
        transform: scale(150%, 150%);
    }
}

#close {
    position: absolute;
    top: 2px;
    right: 20px;
    cursor: pointer;
}

.formInput {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#textarea {
    width: 400px;
    height: 200px;
}