.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.genres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
}

.genres p,
h3 {
    color: whitesmoke;
}

@media screen and (max-width: 1000px) {
    .flex {
        flex-direction: column;
    }

}